<!-- // Footer Start -->
<footer class="containner-fluid nopadding footer-container">
    <div class="container">
        <!-- // desktop footer top start -->
        <div id="footer-top" class="col-xs-12 nopadding hidden-xs">
            <ul class="col-xs-3">
                <li class="list-heading">DOWNLOAD OUR APP</li>
                <li><a href=""><span class="icon icon-googleplay"></span></a></li>
                <li><a href=""><span>OVER</span> <br>2000+ BRANDS<br>200000+ PRODUCTS</a></li>
                <!-- // -->
                <li class="list-heading">SUPPORT</li>
                <li>For Help, send email to <a style="color: #981937;" href="mailto:customercare@craftsvilla.com">customercare@craftsvilla.com</a></li>
                <!-- // -->
                <li class="list-heading">FOLLOW US</li>
                <li>
                  <a href="#"><span class="icon icon-fb-round"></span></a>
                  <a href="#"><span class="icon icon-tw-round"></span></a>
                  <a href="#"><span class="icon icon-gp-round"></span></a>
                  <a href="#"><span class="icon icon-pin-round"></span></a>
                </li>
            </ul>
            <ul class="col-xs-3">
                <li class="list-heading">OUR COMPANY</li>
                <li><a href="">About us</a></li>
                <li><a href="">Craftsvilla in Media</a></li>
                <li><a href="">How to buy</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Secure Payment Options</a></li>
                <!-- // -->
                <li class="list-heading">PAYMENT OPTIONS</li>
                <li>
                    <span class="icon icon-visacard"></span>
                    <span class="icon icon-mastercard"></span>
                    <span class="icon icon-maestrocard"></span>
                </li>
            </ul>
            <ul class="col-xs-2">
                <li class="list-heading">TOP CATEGORIES</li>
                <li><a href="">Sarees</a></li>
                <li><a href="">Lehenga</a></li>
                <li><a href="">jewellery</a></li>
                <li><a href="">Accessories</a></li>
                <li><a href="">Clothing</a></li>
                <li><a href="">Salwar Suits</a></li>
            </ul>
            <ul class="col-xs-2">
                <li class="list-heading">USEFUL INFO</li>
                <li><a href="">FAQ's</a></li>
                <li><a href="">Sitemap</a></li>
                <li><a href="">Discover</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
            <ul class="col-xs-2">
                <li class="list-heading">POLICIES & INFO</li>
                <li><a href="">Terms &amp; Conditions</a></li>
                <li><a href="">Policy for Sellers</a></li>
                <li><a href="">Policy for Buyers</a></li>
                <li><a href="">Shipping &amp; Refund Policies</a></li>
                <li><a href="">Wholesale Policy</a></li>
                <li><a href="">Privacy Policy</a></li>
                <!-- // -->
                <li class="list-heading">FOR SELLERS</li>
                <li><a href="">Seller Login</a></li>
                <li><a href="">Seller Sign up</a></li>
                <li><a href="">Seller Handbook</a></li>
                <li><a href="">Seller FAQs</a></li>
            </ul>
        </div>
        <!-- // desktop footer top end -->
        <!-- // mobile footer start -->
        <div class="visible-xs col-xs-12 mobile-footer-container">
            <p class="write-us">
                If you can't find What you're looking for, write to us on
                <a href="mailto:customercare@craftsvilla.com" class="">customercare@craftsvilla.com</a>
            </p>
            <div>
                <a href="http://www.facebook.com/craftsvilla" target="_blank">
                    <span class="icon icon-fb-round"></span>
                </a>
                <a href="https://www.pinterest.com/craftsvilla/" target="_blank">
                    <span class="icon icon-tw-round"></span>
                </a>
                <a href="https://twitter.com/craftsvilla" target="_blank">
                    <span class="icon icon-pin-round"></span>
                </a>
                <a href="https://plus.google.com/117677147285924975963" target="_blank">
                    <span class="icon icon-gp-round"></span>
                </a>
            </div>
        </div>
        <!-- // mobile footer end -->
    </div>
    <!-- //  -->
    <div class="col-xs-12 copy-right-container">
      Copyright © 2016 craftsvilla.com. All Rights Reserved
    </div>
</footer>
<!-- // Footer End -->
