// Fonts
@font-face {
    font-family: 'ProximaNova';
    //font-family: 'ProximaNova-Bold';
    src: url('./assets/fonts/3218D8_3_0.eot');
    src: url('./assets/fonts/3218D8_3_0.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/3218D8_3_0.woff2') format('woff2'), url('./assets/fonts/3218D8_3_0.woff') format('woff'), url('./assets/fonts/3218D8_3_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    //font-family: 'ProximaNova-BoldIt';
    src: url('./assets/fonts/3218D8_5_0.eot');
    src: url('./assets/fonts/3218D8_5_0.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/3218D8_5_0.woff2') format('woff2'), url('./assets/fonts/3218D8_5_0.woff') format('woff'), url('./assets/fonts/3218D8_5_0.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'ProximaNova';
    //font-family: 'ProximaNova-Regular';
    src: url('./assets/fonts/3218D8_9_0.eot');
    src: url('./assets/fonts/3218D8_9_0.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/3218D8_9_0.woff2') format('woff2'), url('./assets/fonts/3218D8_9_0.woff') format('woff'), url('./assets/fonts/3218D8_9_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;;
}

@font-face {
    font-family: 'ProximaNova';
    //font-family: 'ProximaNova-RegularIt';
    src: url('./assets/fonts/3218D8_B_0.eot');
    src: url('./assets/fonts/3218D8_B_0.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/3218D8_B_0.woff2') format('woff2'), url('./assets/fonts/3218D8_B_0.woff') format('woff'), url('./assets/fonts/3218D8_B_0.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
