<!-- // Right Sticky start -->
<div class="right-sticky-container visible-lg visible-md">
  <div class="sticky-wrapper">
    <ul>
      <li>
        <a href="">
          <i class="icon cv-cart-dark"></i>
          <span tolltip>Track Order</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon cv-wishlist-icon"></i>
          <span tolltip>Wishlist</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon cv-login-dark"></i>
          <span tolltip>My Account</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon cv-track-order"></i>
          <span tolltip>Track Order</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon cv-customer-review"></i>
          <span tolltip>Track Order</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon cv-customer-feedback"></i>
          <span tolltip>Track Order</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon cv-faq"></i>
          <span tolltip>Faq's</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="icon cv-app"></i>
          <span tolltip>Track Order</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- // Right Sticky end -->
