///                      /////////////////////////////////////////
// Grid Theme Colours  /////////////////////////////////////////
//                       /////////////////////////////////////////

$grid_background_default: $cv_grid_background;

//----------------------------------
$grid_text_default: $cv_text_dark_1;
$grid_text_primary: $cv_text_dark_0;
$grid_text_hint: $cv_text_dark_2;
$grid_link_default: $cv_text_dark_2;
$grid_link_hover: $cv_primary;

////////////////////////////////////////////////////////////////