
//----------------------------------
//----------------------------------
$product_description_bg_default: $cv_bg_wht_0;
$product_description_text_default: $cv_text_dark_1;
$product_description_text_primary: $cv_text_dark_0;
$product_description_link_default: $cv_text_dark_1;
$product_description_link_hover: $cv_primary;
$product_description_border_default: $cv_text_dark_3;

$product_description_vendor_rating_bg: $cv_pp_green_dark;
$product_description_vendor_rating_text: $cv_pp_green_accent_light; 


$product_description_saving_text: $cv_pp_green_accent_dark;
$product_description_saving_bg: $cv_pp_green_light;
$product_description_saving_border: $cv_pp_green_dark;

$product_description_cartbtn_bg: $cv_header_background;
$product_description_cartbtn_text: $cv_primary;
$product_description_cartbtn_border: $cv_megamenu_nav_background;
$product_description_cartbtn_link: #fff;

$product_description_buybtn_bg: $cv_pp_green_dark;
$product_description_buybtn_text: $cv_pp_green_accent_light;
$product_description_buybtn_border: $cv_pp_green_dark;
$product_description_buybtn_link: #fff;


$product_description_shipping_text: $cv_text_dark_1;

$product_description_sku_text: $cv_text_dark_0;

$product_detail_background: $cv_bg_wht_0;