///                      /////////////////////////////////////////
// Footer Theme Colours  /////////////////////////////////////////
//                       /////////////////////////////////////////

$footer_background_default: $cv_footer_background;

//----------------------------------
$footer_text_default: $cv_text_dark_2;
$footer_text_primary: $cv_text_dark_0;
$footer_text_hint: $cv_text_dark_3;
$footer_link_default: $cv_text_dark_1;
$footer_link_hover: $cv_primary;

////////////////////////////////////////////////////////////////