///                        /////////////////////////////////////////
// Filters Variables       /////////////////////////////////////////
//                         /////////////////////////////////////////

//-----------------------------------------------------------

$filter_background_default: $cv_filter_background;

$filter_text_default: $cv_text_dark_1;
$filter_text_primary: $cv_text_dark_0;
$filter_text_hint: $cv_text_dark_2;
$filter_link_default: $cv_text_dark_2;
$filter_link_hover: $cv_primary;

$filter_wrapper_border: $cv_text_dark_3;

$filter_submenu_text_default: $cv_text_dark_1;
$filter_submenu_text_primary: $cv_text_dark_0;

$filter_submenu_label_text: $cv_text_dark_2;
$filter_submenu_label_border: $cv_bg_wht_1;
$filter_submenu_label_bg: $cv_bg_blk_1;

$filter_menusearch_text_default: $cv_text_dark_1;
$filter_menusearch_text_primary: $cv_text_dark_0;
$filter_menusearch_cat_text: $cv_text_dark_2;
$filter_menusearch_cat_bg: $cv_bg_wht_0;
$filter_menusearch_cat_border: $cv_bg_wht_1;
$filter_menusearch_check_text: $cv_text_dark_2;
$filter_menusearch_check_bg: $cv_bg_wht_1;
$filter_menusearch_check_border: $cv_bg_wht_1;


////////////////////////////////////////////////////////////////
