//                      /////////////////////////////////////////
// Mobile Theme Colours  /////////////////////////////////////////
//                       /////////////////////////////////////////

$mobile_header_background: $cv_bg_primary;

//----------------------------------
$mobile_text_default: $cv_text_dark_1;
$mobile_text_primary: $cv_text_dark_0;
$mobile_text_hint: $cv_text_dark_2;
$mobile_link_default: $cv_text_dark_1;
$mobile_link_hover: $cv_primary;

//----------------------------------
$mobile_search_btn_bg: $cv_primary;
$mobile_search_btn_text: $cv_accent_light;
$mobile_search_text: $cv_accent_dark;

//-----------------------------------
$mobile_filter_bg_default: $cv_bg_wht_0;
$mobile_filter_text_default: $cv_text_dark_1;
$mobile_filter_text_dropdown: $cv_accent_dark;

//-----------------------------------
$mobile_sortby_bg_default: $cv_bg_wht_0;
$mobile_sortby_bg_header: $cv_header_background;
$mobile_sortby_text_default: $cv_text_dark_2;
$mobile_sortby_text_primary: $cv_text_dark_1;
$mobile_sortby_link_default: $cv_text_dark_2;
$mobile_sortby_link_hover: $cv_primary;

////////////////////////////////////////////////////////////////