///                      /////////////////////////////////////////
// Header Theme Colours  /////////////////////////////////////////
//                       /////////////////////////////////////////

$header_background_default: $cv_primary;

//----------------------------------
$header_text_default: $cv_text_dark_1;
$header_text_primary: $cv_text_dark_0;
$header_text_hint: $cv_text_dark_2;
$header_link_default: $cv_text_dark_1;
$header_link_hover: $cv_primary;

//----------------------------------
$header_search_btn_bg: $cv_primary;
$header_search_btn_text: $cv_accent_light;
$header_search_text: $cv_accent_dark;
$header_search_list_bg: $cv_accent_light;

//-----------------------------------
$header_currency_text_default: $cv_primary;
$header_currency_text_dropdown: $cv_accent_dark;

//------------------------------------
$header_cart_text: $cv_primary;
$header_cart_border: $cv_text_light_0;
$header_authentication_text: $cv_primary;
$header_authentication_bg: $cv_accent_light;


////////////////////////////////////////////////////////////////
