///                      /////////////////////////////////////////
// Modal Theme Colours  /////////////////////////////////////////
//                       /////////////////////////////////////////

$modal_background_default: $cv_modal_background;

//----------------------------------
$modal_text_default: $cv_text_dark_1;
$modal_text_primary: $cv_text_dark_0;
$modal_text_hint: $cv_text_dark_2;
$modal_link_default: $cv_text_dark_2;
$modal_link_hover: $cv_primary;

//-------------------------------
$modal_tab_button_bg: $black38;
$modal_button_bg: $cv_primary;
$modal_button_text_dfault: $cv_text_light;



////////////////////////////////////////////////////////////////
