///                        /////////////////////////////////////////
// Megamenu Theme Colours  /////////////////////////////////////////
//                         /////////////////////////////////////////

$mm_background_default: $cv_primary;
$mm_background_content_default: $cv_megamenu_content_background;
$mm_background_content_odd: $cv_megamenu_content_background;
$mm_background_content_even: $white95;
$mm_search_btn_bg: $white;
//----------------------------------
$mm_text_default: $white;
$mm_text_primary: $cv_text_dark_1;
$mm_link_default: $white;
$mm_link_hover: $cv_primary;


////////////////////////////////////////////////////////////////
