///                        /////////////////////////////////////////
// Carousel Theme Colours  /////////////////////////////////////////
//                         /////////////////////////////////////////

$carousel_background_default: $cv_carousel_background;

//----------------------------------
$carousel_nav_backgrund_default: $cv_bg_wht_0;

//----------------------------------
$carousel_text_default: $cv_text_dark_1;
$carousel_text_primary: $cv_text_dark_0;
$carousel_link_default: $cv_text_dark_1;
$carousel_link_hover: $cv_text_dark_1;


////////////////////////////////////////////////////////////////